
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 200;
    src: url("/fonts/NunitoSans-ExtraLight.ttf") format("truetype");
}


@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/NunitoSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    src: url("/fonts/NunitoSans-SemiBold.ttf") format("truetype");
}
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/NunitoSans-Bold.ttf") format("truetype");
}
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 800;
    src: url("/fonts/NunitoSans-ExtraBold.ttf") format("truetype");
}
